[supervisord]
nodaemon=true
pidfile=/var/run/supervisord.pid 
logfile=/home/supervisor/supervisord.log
logfile_maxbytes=10MB
logfile_backups=10
loglevel=info
minfds=1024
minprocs=200

[program:nginx]
command=nginx -g 'daemon off;'
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
autorestart=false
startretries=0

[program:php-fpm]
command=/usr/sbin/php-fpm8.1
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
autorestart=false
startretries=0

[program:worker]
process_name=%(program_name)s_%(process_num)02d
command=php8.2 /application/artisan queue:work --sleep=2 --tries=3 --delay=15 --daemon
autostart=true
autorestart=true
numprocs=8
redirect_stderr=true
stdout_logfile=/home/supervisor/worker.log